.comments {
  max-width: 500px;
  background: #f9f9f9;
  border-left: 3px solid #6c63ff;
  border-radius: 4px;
  padding: 12px 15px;
  margin-bottom: 10px;
}

.headerOfComments {
  text-align: left;
  padding-left: 40px;
  opacity: 0.5;
}

.buttonForComments {
  appearance: none;
  border: none;
  background-color: white;
}

.buttonForComments:hover {
  border: solid 1px black;
}

.buttonForComments:active {
  background-color: #efe8e8;
}